body{
    background-image: url(Image/Wallpaper.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

header{
    border: 2px solid black;
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(36, 36, 94) 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 60px;
    padding-bottom: 10px;
    margin-right: 12px;
}

nav{
    border: 2px solid black;
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(36, 36, 94) 100%);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 12px;
    font-family: fantasy;
}

li{
    display: inline;
    font-size: 20px;
}

.aa{
    margin-right: 10px;
}

aside{
    border: 2px solid black;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(36, 36, 94) 100%);
    float: left;
    font-size: 30px;
    height: 325px;
    margin-top: 8px;
    font-family: fantasy;
}

section{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    padding-left: 15px;
    padding-top: 1px;
    margin-right: 20px;
}

figure{
    float: right;
}

hr{
    margin-right: 12px;
}