body{
    background: -webkit-linear-gradient(left, rgb(82, 133, 192) 0%, rgb(145, 48, 48) 100%);
    background-size: cover;
}

header{
    border: 2px solid black;
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(84, 84, 145) 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    margin-right: 12px;
}

h1{
    margin-left: 350px;
    font-family: fantasy;
    font-size: 40px;
}

.header_logo{
    padding-right: 20px;
    padding-bottom: 5px;
    margin-right: 40px;
    float: right;
    height: 65px;
}

nav{
    border: 2px solid black;
    text-align: right;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-right: 12px;
    font-family: fantasy;
}

.nav_Form{
    float: left;
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(84, 84, 145) 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

li{
    padding: 18px;
    display: inline;
    font-size: 20px;
}

.a_style1{
    color: black;
    padding-right: 30px;
}

.a_style2{
    color: black;
    padding-right: 60px;
}

main{
    display: flex;
    justify-content: space-between;
}

aside{
    border: 2px solid black;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(36, 36, 94) 100%);
    font-size: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    height: 380px;
    margin-top: 8px;
    font-family: fantasy;
    float: left;
}

.blockquote_logo1{
    height: 100px;
}

.blockquote_logo2{
    height: 100px;
}

.a_style3{
    color: black;
}

article{
    padding: 10px;
    margin: 0 auto ;
    display: inline block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
}

.article_image{
    padding-right: 22px;
    float: left;
    width: 250px;
}

.section_size1{
    display: block;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
}

p{
    font-size: 18px;
}

.div_direction{
    padding-right: 12px;
}

.li_style{
    color: black;
    font-family: fantasy;
}

.video_style{
    border: 2px solid black;
    height: 180px;
    float: right;
}

.audio_style{
    border: 2px solid black;
    float: right;
}

.nav_banner{
    border: 2px solid black;
    padding: 70px;
    background-image: url(Banners/FSN_Banner.png);
    background-size: contain;
}